<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather API</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="container">
      <!-- container -->

      <div class="row mt-3 mb-2">
        
        <div class="col">
          <h1 data-th-text="|Weather for ${city}|"></h1>
        </div>
        
      </div>

      <div class="row">
        <div class="col">
          <form method="POST" action="/city">
            <div class="mb-2 input-group">
              <!--
                            <label for="taskName" class="form-label">Task Name:</label>
                            -->
              <input
                type="text"
                name="city"
                id="city"
                placeholder="Enter a city"
                class="form-control"
              />

              <button type="submit" class="btn btn-primary" required>GET</button>
            </div>

            <!--
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary btn-lg">Add Task</button>
                        </div>
                        -->
          </form>
        </div>
      </div>

      
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- container -->
  </body>
</html>